
@font-face {
  font-family: 'ConduitITCW01-Bold';
  src: url('ConduitITCW01-Bold.eot?#iefix') format('embedded-opentype'),  url('ConduitITCW01-Bold.woff') format('woff'), url('ConduitITCW01-Bold.ttf')  format('truetype'), url('ConduitITCW01-Bold.svg#ConduitITCW01-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
