html,body {background-color: #eceff1; margin-top: 0px;}
html, body, .container-table {
    height: 93%;
}

.btn-default {color:#fff; background-color:#1b75bc; border-color:#1b75bc; width: 100%; line-height: 35px;}
/*.login-form {background-color:#fff; padding: 30px; margin: 100px auto auto auto; width: auto; max-width: 400px; min-height: 320px; border-radius: 5px; }*/

.login-form {background-color:#fff; padding: 30px;  width: auto; max-width: 400px; min-height: 320px; border-radius: 5px; }
.login-form span {color:#1b75bc; text-align: center; display: block;}
.login-bottom{background-color: #eeeeee; border-left: 1px solid gray; border-right: 1px solid gray; border-bottom: 1px solid #adadad; padding: 20px;}

.form-group label {color: #303030}
.resend-link{color: #303030 !important;  text-decoration: underline; display: block; clear: both; margin-top: 10px; text-align: center;}
button, input, optgroup, select, textarea {color: #303030}


