
@font-face {
  font-family: 'FuturaLT-Light';
  src: url('FuturaLT-Light.eot?#iefix') format('embedded-opentype'),  url('FuturaLT-Light.woff') format('woff'), url('FuturaLT-Light.ttf')  format('truetype'), url('FuturaLT-Light.svg#FuturaLT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
