
@font-face {
  font-family: 'LeroyLetteringLightBETA01';
  src: url('LeroyLetteringLightBETA01.eot?#iefix') format('embedded-opentype'),  url('LeroyLetteringLightBETA01.woff') format('woff'), url('LeroyLetteringLightBETA01.ttf')  format('truetype'), url('LeroyLetteringLightBETA01.svg#LeroyLetteringLightBETA01') format('svg');
  font-weight: normal;
  font-style: normal;
}
